ion-card { 
    animation: fadeIn 0.3s 1 forwards;
}
#map1{
    width: 90% !important;
    height: 65% !important;
    background-color:#f6f6f4;
}

.mapa {
    width: 100% !important;
    height: 100% !important;
}

.imgQR {
    width: 25%;
    height: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    padding-top: 1.4rem;
}

.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
    z-index: 10000;
}

.mapboxgl-canvas {
    width: 100% !important;
    height: 100% !important;
}

.generate {
    width: 50%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.btns {
    width: 60%;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 1.5rem;
}

ion-card-content {
    text-align: center;
    font-size: 1.2rem;
}

a {
    color: var(--ion-color-primary);
}

.btns > ion-icon {
    font-size: 20px;
}

.qr {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    top: 10px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
}
.qr > .qrcode >  img {
    width: 50% !important;
}
@media screen and (max-width: 3000px) {
    .imgQR {
        width: 18%;
    }
}
@media screen and (max-width: 600px) {
    .imgQR {
        width: 50%;
    }
}